.warpper{
    width: 400px;
    border-radius: 20px;
    height: 450px;
    background:#1F2937;
    color: #fff;
}


.warpper h1{
    font-size: 35px;
    text-align: center;
    line-height: 45px;  /* Điều chỉnh chiều cao dòng để hạ vị trí của chữ */
    padding-top: 10px; /* Thêm khoảng cách trên chữ */
}

.warpper .Box{
    position: relative;
    width: 100%;    
    height: auto; /* Tăng chiều cao của Box để chứa nhiều nội dung */
    margin: 20px 0;
    left: 10%;
    right: 10%;
}

.large-box {
    width: 400px;  /* Tăng chiều rộng */
    height: 470px; /* Tăng chiều cao */
}

.warpper .Box p.label{
    font-size: 18px; /* Kích thước chữ cho label */
    color: #fff; /* Đặt màu chữ thành đỏ */
    margin-bottom: 10px; /* Khoảng cách giữa label và input/select */
}

.warpper .Box input{
    width: 80%;
    height: 45px; /* Chỉnh sửa chiều cao của input */
    background:#4A5568;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #fff;
    font-size: 16px;
    padding-left: 10px;
    
}

.Box .Items{
    width: 80%;
    height: 45px; /* Chỉnh sửa chiều cao của select */
    background:#4A5568;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #fff;
    font-size: 16px;
    padding-left: 5px;
    
}

.Box input::placeholder{
    color: #fff;
}

.warpper button{
    width: 180px;
    height: 45px;
    background:#4299E1;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #fff;
    position: relative;
    left: 27%;
    right: 30%;
    font-size: 16px;
}
button:hover{
 background-color:#4299E1;
 transform: scale(1.01);
}
.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.left-panel {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-panel {
    width: 50%;
    height: 100vh;
    background: #3A40B8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
}
.verify-box .input-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.verify-box .verify-input {
    width: 60% !important; /* Giảm kích thước input */
}

.clickable-text {
    color: #4299E1;
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
    font-size: 12px;
}

.clickable-text:hover {
    color: #2B6CB0;
}